<!DOCTYPE html> 
<html> 

<head> 
	<title>Project Title</title> 
</head> 

<body> 
	<div class="container"> 
		<h1 style="text-align:center;color:blue;"> 
		Project Title 
	</h1> 
		<form> 
			<div class="form-group"> 
				<label for="name">Path:</label> 
				<input class="form-control"
					type="text"
					id = "path"
					name = "path"
					placeholder="Full Directory Path"> 
				<button class="btn btn-success btn-lg float-right"
						type="submit"> 
					Execute 
				</button> 
			</div>
     <div class="form-group">
		<div class="form-group">
    <label class="col-md-4 control-label" for="rolename">Section List</label>
    <div class="col-md-4">
        <select id="sectionlist" class="multiselect-ui form-control" multiple="multiple">
            <option value="amiable">Amiable</option>
            <option value="tomatoes">Charity</option>
            <option value="mozarella">Chastity</option>
            <option value="mushrooms">Honesty</option>
            <option value="pepperoni">Prudence</option>
            <option value="onions">Sincerity</option>
            <option value="temp">Temperance</option>
        </select>
    </div>
</div>
<button class="btn btn-success btn-lg float-right">Add Section</button>
    </div>
			<div class="form-group"> 
				<label for="name">Student per Section Estimation:</label> 
				<input class="form-control"
					type="text"
					id = "studentPerSection"
					name = "studentPerSection"
					placeholder="Default: 45"> 
				</button> 
			</div> 
			<div class="form-group"> 
				<label for="name">Cell of Average:</label> 
				<input class="form-control"
					type="text"
					id = "ave"
					name = "ave"
					placeholder=""> 
			</div> 
			<div class="form-group"> 
				<label for="name">Cell of Math:</label> 
				<input class="form-control"
					type="text"
					id = "math"
					name = "math"
					placeholder=""> 
			</div> 
			<div class="form-group"> 
				<label for="name">Cell of English:</label> 
				<input class="form-control"
					type="text"
					id = "eng"
					name = "eng"
					placeholder=""> 
			</div> 
			<div class="form-group"> 
				<label for="name">Cell of Science:</label> 
				<input class="form-control"
					type="text"
					id = "sci"
					name = "sci"
					placeholder=""> 
			</div> 
			
		</form> 
	</div> 
</body> 

</html> 
