<!DOCTYPE html> 
<html> 
<head> 
	<title>Automated Classification of Students</title> 
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head> 

<style type="text/css">
	#preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #fff;z-index: 99;}
	#status {position: fixed;left: 0px;top: 0px;background:url('https://i.imgur.com/gvmdEsV.gif')no-repeat center center;background-size: 100px;width: 100%;height: 100%;z-index: 1000;overflow: visible;}
	h1{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	img{
		height: 500px !important;
		width: 200px !important;
	}
	.menu .item{
		height: 350px;
	}
	.faq{
		text-align: right;
		padding-top: 50px;
		padding-right: 400px;
		color: dodgerblue;
		font-weight: bold;
	}

</style>

<script type="text/javascript">
  $(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').delay(1000).fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(1000).css({'overflow':'visible'});
})
</script>


<body>
	<div id="preloader">
	  	<div id="status">&nbsp;</div>
	</div>  
	<div class="container" id="my_form">
		<div class="faq">
		<div class="ui dropdown">
		<div class="text">FAQ</div>
			<div class="menu">
				<div class="item">
					<h6>[Grade Level Directory] ← This is the input directory</h6>
					<h6>===> [Section Directory]</h6>
					<h6>======> Boys [Folder]</h6>
					<h6>=========> [SF10 - Student File in Excel format (1)]</h6>
					<h6>=========> [SF10 - Student File in Excel format (n)]</h6>
					<h6>======> Girls [Folder]</h6>
					<h6>=========> [SF10 - Student File in Excel format (1)]</h6>
					<h6>=========> [SF10 - Student File in Excel format (n)]</h6>
					<h6>===> [Section Directory (n)]</h6>
				</div>
			</div>
		</div>
		</div>
		<h1 style="text-align:center;color:blue;">Automated Classification of Students</h1> 
	<form action="{{url_for('success')}}" id="id" method="POST">
		<div class="container">
		<div class="row">
			<div class="ui two column centered grid">
			  <div class="column">
					<div class="ui fluid input">
			  			<input type="text" name="path" placeholder="insert directory">
					</div>
			  </div>
			  <div class="two column centered row">
			    <div class="column">
			    	<select name="section_list" multiple="" class="ui fluid search dropdown">
						<option value="">Select Section</option>
						<option value="Amity">Amity</option>
						<option value="Benevolence">Benevolence</option>
						<option value="Bravery">Bravery</option>
						<option value="Charity">Charity</option>
						<option value="Courage">Courage</option>
						<option value="Dignity">Dignity</option>
						<option value="Diligence">Diligence</option>
						<option value="Endurance">Endurance</option>
						<option value="Excellence">Excellence</option>
						<option value="Faith">Faith</option>
						<option value="Frugality">Frugality</option>
						<option value="Generosity">Generosity</option>
						<option value="Honesty">Honesty</option>
						<option value="Hope">Hope</option>
						<option value="Humility">Humility</option>
						<option value="Industry">Industry</option>
						<option value="Integrity">Integrity</option>
						<option value="Joy">Joy</option>
						<option value="Justice">Justice</option>
						<option value="Knowledge">Knowledge</option>
						<option value="Loyalty">Loyalty</option>
						<option value="Love">Love</option>
						<option value="Mercy">Mercy</option>
						<option value="Modesty">Modesty</option>
						<option value="Nationalism">Nationalism</option>
						<option value="Obedience">Obedience</option>
					</select>
			    </div>
			  </div>
			  <div class="two column centered row">
			    <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" name="number_of_students" placeholder="Number of Student per Section">
					</div>
			    </div>
			  </div>

			<div class="two column centered row">
				<div class="column">
					<button id="btn" class="positive ui button" onclick="loading()">Execute</button>
				</div>
			</div>
			<div class="two column centered row">
				<div class="column">
					<button id="btn1" class="positive ui button" style="display: none;" disabled>Loading.....</button>
				<div class="column">
			</div>
		</div>
		</div>
		</div>
	</form>
	</div>
	<div>
		{% if name == true %}
		<h1>Jomar</h1>
		{% endif %}
	</div>

<script type="text/javascript">
	$('.ui.dropdown')
  .dropdown();
</script>

<script type="text/javascript">
	function loading(){
		document.getElementById("btn").style.display = "none";
		document.getElementById("btn1").style.display = "block";
		// document.getElementById('id')[0].submit();
		 // Form submission
	}
</script>

<!-- <script type="text/javascript">
	$('#id').submit(function(e){
    $(this).children('button[id=submit]').attr('disabled', 'disabled');
    // this is just for demonstration
    e.preventDefault(); 
    return false;
});
</script>	 -->	 
</body> 

</html> 
