<!DOCTYPE html> 
<html> 
<head> 
	<title>Project Title</title> 
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head> 

<style type="text/css">
	#preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #fff;z-index: 99;}
	#status {position: fixed;left: 0px;top: 0px;background:url('https://i.imgur.com/gvmdEsV.gif')no-repeat center center;background-size: 100px;width: 100%;height: 100%;z-index: 1000;overflow: visible;}
</style>

<script type="text/javascript">
  $(window).on('load', function() { // makes sure the whole site is loaded 
  $('#status').delay(1000).fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
  $('body').delay(1000).css({'overflow':'visible'});
})
</script>

<body>
	<div id="preloader">
	  	<div id="status">&nbsp;</div>
	</div>  
	<div class="container">

	
		<h1 style="text-align:center;color:blue;"> Project Title </h1> 
	<form action="{{url_for('success')}}" method="POST">
		<div class="container">
		<div class="row">
			<div class="ui two column centered grid">
			  <div class="column">
					<div class="ui fluid input">
			  			<input type="text" name="path" placeholder="insert directory">
					</div>
			  </div>
			  <div class="two column centered row">
			    <div class="column">
			    	<select name="section_list" multiple="" class="ui fluid search dropdown">
						<option value="">Select Section</option>
						<option value="Amity">Amity</option>
						<option value="Benevolence">Benevolence</option>
						<option value="Bravery">Bravery</option>
						<option value="Charity">Charity</option>
						<option value="Courage">Courage</option>
						<option value="Dignity">Dignity</option>
						<option value="Diligence">Diligence</option>
						<option value="Endurance">Endurance</option>
						<option value="Excellence">Excellence</option>
						<option value="Faith">Faith</option>
						<option value="Frugality">Frugality</option>
						<option value="Generosity">Generosity</option>
						<option value="Honesty">Honesty</option>
						<option value="Hope">Hope</option>
						<option value="Humility">Humility</option>
						<option value="Industry">Industry</option>
						<option value="Integrity">Integrity</option>
						<option value="Joy">Joy</option>
						<option value="Justice">Justice</option>
						<option value="Knowledge">Knowledge</option>
						<option value="Loyalty">Loyalty</option>
						<option value="Love">Love</option>
						<option value="Mercy">Mercy</option>
						<option value="Modesty">Modesty</option>
						<option value="Nationalism">Nationalism</option>
						<option value="Obedience">Obedience</option>
					</select>
			    </div>
			  </div>
			  <div class="six column centered row">
			    <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" name="number_of_students" placeholder="Number of Student per Section">
					</div>
			    </div>
			    <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" placeholder="Cell of Average">
					</div>
			    </div>
			    <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" placeholder="Cell of Math">
					</div>
			    </div>
			  </div>
			  <div class="four column centered row">
			  	 <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" placeholder="Cell of English">
					</div>
			    </div>
			    <div class="column">
			    	<div class="ui fluid input">
			  			<input type="number" placeholder="Cell of Science">
					</div>
			    </div>
			  </div>
			
			<div class="two column centered row">
				<button class="positive ui button">Execute</button>
			</div>
			</div>
</form>
</div>

<script type="text/javascript">
	$('.ui.dropdown')
  .dropdown();
</script>
			
	 
</body> 

</html> 
