<!DOCTYPE html> 
<html> 
<head> 
	<title>Project Title</title> 
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head> 

<style type="text/css">
	.container{
		padding-top: 100px;
	}
</style>

<body> 
	<div class="container">
	<div class="row">
		<div class="ui two column centered grid">
		  <div class="column">
				<h1>Sorting Successful Please Check the folder</h1>
		  </div>
		</div>
		<div class="ui two column centered grid">
			<div class="column">
				<a class="positive ui button" href="/" id="Submit">back</a>
		  </div>
		</div> 	
	</div>
</div>


			
	 
</body> 

</html> 
